body{
	background: url(./assets/bg.jpg) no-repeat center fixed;
	background-size: cover;
	margin:0;
	color:#6a6f8c;
	height: 100%;
	font:600 16px/18px 'Open Sans',sans-serif;
}
@media (min-width: 800px) {
    form{
    padding-top: 30px;
	}
	.row{
		display: inline-block;
	}
}
*,:after,:before{box-sizing:border-box}
::-webkit-calendar-picker-indicator {filter: invert(1);}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
form{
	
	height: 100%;
}
.login-wrap{
	width:100%;
	max-width: 625px;
	height: 100%;
	margin:auto;
	position:relative;
	background: url(./assets/forest.jpg) no-repeat center;
	
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	background-color: rgba(40,57,101,.9);
	height: 100%;
}
.login-form{
	padding: 30px 50px 30px 50px;
}
.login-form .row {
	width:100%;
    margin-bottom: 15px;
}
.login-form .row .label{
	width:100%;
	color:#fff;
    margin-bottom: 15px;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form h2{
    text-align: center;
	margin-bottom:25px;
}
.login-form .group .label,
.login-form .group .input{
	width:100%;
	color:#fff;
    display:flex;
    margin-bottom: 5px;
}
.login-form .group .input{
	border:none;
	border-radius: 15px;
	padding:15px 20px;
	background:rgba(255,255,255,.1);
}
.login-form .row .input{
	border:none;
	border-radius: 15px;
    padding:15px 20px;
    opacity: 0.8;
}
.input:invalid{
    border: none;
    color: red;
}

.radBlock{
	display: inline-block;
}
.drop .input{
	-webkit-appearance: none;
}
.group .error,
.row .error{
	color: rgba(253, 107, 107, 0.8);
	font-size:12px;
}
.group .input .option{
    color: black;
}
.group .button{
    cursor: pointer;
    width:100%;
	color:#fff;
	display:block;
	border:none;
	border-radius: 15px;
	margin-top: 10px;
	padding:15px 20px;
    background:rgba(47, 82, 238, 0.65);
	font-size: 16px;
}
.row .button{
    cursor: pointer;
    width:50%;
	color:#fff;
	display:inline-block;
	border:none;
	border-radius: 15px;
	margin-top: 10px;
	padding:15px 20px;
	background:rgba(47, 82, 238, 0.65);
	font-size: 16px;
}
input[type=radio] {


    height: 1em;

}
.multi{
	min-height: 32px;
	display: block;
	padding: 3px 40px 0 8px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	background: #fff;
	font-size: 14px;
}

footer{
	margin-top: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: rgba(17, 1, 1, 0.5);
	color: white;
	text-align: center;
}
footer a{
	font-size: 16px;
	background: -webkit-linear-gradient(#2193b0 , #6dd5ed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.success{
	position: fixed;
	height: 100%;
	margin-top: 15rem;
	margin-bottom: 15em;

}